<div class="bg">
    <div class="parent">
        <div class="child">
            <form nz-form [formGroup]="testForm" class="login-form" (ngSubmit)="submitForm()">
                <nz-form-label [nzNoColon]="true">Title</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="This input is required!">
                        <input type="text" nz-input formControlName="title" placeholder="Title" />
                    </nz-form-control>
                </nz-form-item>


                <nz-form-label [nzNoColon]="true">Time Per Question</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="This input is required!">
                        <input type="number" nz-input formControlName="time" placeholder="Time Seconds Per Question" />
                    </nz-form-control>
                </nz-form-item>

                                <nz-form-label [nzNoColon]="true">Description</nz-form-label>
                <nz-form-item>
                    <nz-form-control nzErrorTip="This input is required!">
                        <textarea rows="4" nz-input formControlName="description" placeholder="Description"></textarea>
                    </nz-form-control>
                </nz-form-item>
<nz-form-item>
  <nz-form-label [nzNoColon]="true">Student Class</nz-form-label>
  <nz-form-control nzErrorTip="Please select a class!">
    <nz-select formControlName="studentClass" nzPlaceHolder="Select a class">
      <nz-option nzValue="J1" nzLabel="JSS 1"></nz-option>
      <nz-option nzValue="J2" nzLabel="JSS 2"></nz-option>
      <nz-option nzValue="J3" nzLabel="JSS 3"></nz-option>
      <nz-option nzValue="S1" nzLabel="SS 1"></nz-option>
      <nz-option nzValue="S2" nzLabel="SS 2"></nz-option>
      <nz-option nzValue="S3" nzLabel="SS 3"></nz-option>
    </nz-select>
  </nz-form-control>
</nz-form-item>


                <div style="padding-bottom: 30px;">
                    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>

