<div class="main">
    <div nz-row>
        <div class="card-list"> 
            @for (test of tests; track test.id) {
                <div> 
                    <nz-card [nzBordered]="true" class="test" [nzTitle]="test.title">
                        <p><strong>Time:</strong> {{getFormattedTime(test.time)}}</p>
                        <p><strong>Description:</strong> {{ test.description }}</p>
                        <button nz-button nzType="primary" routerLink="/user/take-test/{{test.id}}">Start Exam</button>
                    </nz-card>
                </div>
            }
            </div>
    </div>
</div>
