<div class="admin-dashboard-container">
    
    <h2 class="dashboard-title">Available Tests</h2>
    <p class="dashboard-sub">Manage, edit, and delete existing quizzes below.</p>

    <div nz-row [nzGutter]="30">
        <div nz-col [nzSpan]="24" *ngFor="let test of tests" class="test-col"> 
            <nz-card [nzBordered]="false" [nzTitle]="test.title" class="test-card">
                
                <p class="test-info"><strong>Time:</strong> {{getFormattedTime(test.time)}}</p>
                <p class="test-info description"><strong>Description:</strong> {{ test.description }}</p>

                <div class="card-actions">
                    <button nz-button nzType="primary" routerLink="/admin/view-test/{{test.id}}">
                        View Test
                    </button>
                    <button nz-button nzType="default" class="add-btn" 
                        routerLink="/admin/add-question/{{test.id}}">
                        Add Question
                    </button>
                    <button nz-button nzType="primary" nzDanger (click)="deleteTest(test.id)" class="delete-btn">
                        Delete
                    </button>
                </div>
            </nz-card>
        </div>
    </div>
</div>
